body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.button {
    background-color: #fcdf8a;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}
.content{

}