<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout 2</title>
    <link rel="stylesheet" href="/css/estilo.css">
</head>
<body>
    <header>
        <div class="container">
            <header>
                <a href="/index.html" class="button">Layout 1</a>
                <a href="/layouts/layout2/index.html" class="button">Layout 2</a>
                <a href="/layouts/layout3/index.html" class="button">Layout 3</a>
            </header>
            
    <div class="content">
        <div class="blocko1">
            <div class="blocko2">
                <div class="header">Cabeçalho</div>
                <div class="blocko3">
                    <div class="article" id="article-light-color">Artigo 1</div>
                    <div class="article">Artigo 2</div>
                    <div class="article">Artigo 3</div>
                </div>
            </div>
            <div class="menu">Menu Lateral</div>
        </div>
        <div class="blocko1">
            <div class="blocko3">
                <div class="footer">Rodapé</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>